name: macos

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macos-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    # Error Check
    - name: Run brew bundle
      run: brew bundle
    - name: chmod
      run: sudo chmod +x ${GITHUB_WORKSPACE}/setup.sh
    - name: Run setup.sh
      run: ${GITHUB_WORKSPACE}/setup.sh
